.prod-card{
    width: 280px;
    border: 1px solid aquamarine;
    background-color:  aquamarine;
    color: white;
    border-radius: 10px;
    margin: 50px 20px;
    box-shadow: 5px 5px 5px grey;
}
.prod-card:hover{
    box-shadow: 5px 5px 20px grey;
}
.prod-thumbnail{
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 260px;
    height: 335px;
    cursor: pointer;

}
.card-content{
    padding: 20px;

}

.btn-theme{
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    color: antiquewhite; 
    background-color: orange;
    border-color: orange;
    outline: none;
 }